@model RecipeWorld.Models.Contact
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    /*-- main --*/
    .mainContact-agileinfo, h1 {
        width: 50%;
        margin: 0 auto;
    }
    /*-- contact --*/
    h1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #4E6A22;
        margin-bottom: 40px;
    }
    .contact-left {
        text-align: center;
    }

        .contact-left img {
            display: block;
            text-align: center;
            margin: 0 auto;
        }

    .contact-grid.agileits {
        padding: 2.5em;
        background-color: #fff;
    }

    .contact-grid input[type="text"], .contact-grid input[type="email"], .contact-grid textarea {
        width: 100%;
        color: #4E6A22;
        background: #93C54B;
        outline: none;
        font-size: 1em;
        padding: .8em 1em;
        margin-bottom: 1.5em;
        border: none;
        font-family: 'Molengo', sans-serif;
        border-bottom: 1px solid #435B1E;
        letter-spacing: 1px;
    }

    .contact-grid textarea {
        resize: none;
        min-height: 6em;
    }

    .contact-grid input[type="submit"] {
        outline: none;
        display: inherit;
        color: #4E6A22;
        padding: .9em 4em;
        font-size: 1em;
        letter-spacing: 1px;
        -webkit-appearance: none;
        margin: 0 auto;
        border: none;
        border-radius: 2px;
        background: #93C54B;
        border-bottom: dotted 1px #fff;
        transition: 0.5s all;
        font-family: 'Molengo', sans-serif;
        font-weight: bolder;
        cursor: pointer;
    }

        .contact-grid input[type="submit"]:hover {
            background: none;
            background: #4E6A22;
            color: lemonchiffon;
        }
</style>
<body>
    <!-- main -->
    <div class="main-agileits">
        <h1>CONTACT US</h1>
        <div class="mainContact-agileinfo form">
            <div class="contact-left">
                <img src="/images/contact.png" alt=" ">
            </div>
            <div class="contact-w3lsleft">
                <div class="contact-grid agileits">
                    @using (Html.BeginForm("Create", "Contact", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.TextBoxFor(m => m.FullName, new { @placeholder = "Full name", @class = "form-control input-md" })
                        @Html.ValidationMessageFor(m => m.FullName)
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @placeholder = "Mobile number", @class = "form-control input-md" })
                        @Html.ValidationMessageFor(m => m.PhoneNumber)
                        @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email", @class = "form-control input-md" })
                        @Html.ValidationMessageFor(m => m.Email)
                        @Html.TextAreaFor(m => m.Message, new { @placeholder = "Message", @class = "form-control input-md" })
                        @Html.ValidationMessageFor(m => m.Message)
                        <input type="submit" value="Submit" />
                    }
                </div>
            </div>
        </div>
    </div>
</body>