<style>
    .navbar-header {
        margin-left: 200px;
    }
    .navbar-brand {
        font:35px;

    }
   

</style>


<nav class="navbar navbar-inverse">
    <div class="container-fluid" >
        <div class="navbar-header" style="margin-left:200px">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("WORLD RECIPE BLOG", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

            <ul class="nav navbar-nav" id="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav navbar-navli" })</li>

                <li>@Html.ActionLink("Recipe", "Index", "Recipe")</li>
                <li>@Html.ActionLink("Share Recipe", "New", "Recipe")</li>


                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Create", "Contact")</li>
                <!-- Admin can see Messages link-->
                <li>@Html.ActionLink("Messages", "Index", "Contact")</li> 
            </ul>
            @Html.Partial("_LoginPartial")
            
        </div>
    </div>
</nav>
